@model IEnumerable<Jumia.Dtos.PaymentDto>
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer localizer
@{
    var isRtl = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

@{
    ViewData["Title"] = "Payments";
}

<div class="container mt-5">
    <h2 class="mb-4">@localizer["Payments"]</h2>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">@localizer["Order ID"]</th>
                <th scope="col">@localizer["Date Paid"]</th>
                <th scope="col">@localizer["Payment Method"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in Model)
            {
                <tr>
                    <td>@payment.OrderId</td>
                    <td>@payment.DatePaid.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@payment.paymentMethod</td>

                </tr>
            }
        </tbody>
    </table>
</div>
