@model List<CategoryDto>
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer localizer
@{
    var isRtl = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}


<div class="container mt-5 mb-5 @(isRtl ? "RTL" : "LTR")">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card" style="background-color: #232f3e; color: white;">
                <div class="card-body">
                    @if (Model != null && Model.Any())
                    {
                        <table class="table table-striped">
                            <thead style="background-color: #232f3e; color: white;">
                                <tr>
                                    <th>@localizer["Id"]</th>
                                    <th>@localizer["English Name"]</th>
                                    <th>@localizer["Arabic Name"]</th>


                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var category in Model)
                                {
                                    <tr>
                                        <td>@category.Id</td>
                                        <td>@category.NameEn</td>
                                        <td>@category.NameAr</td>

                                        <td>
                                            <a asp-action="Edit" asp-route-id="@category.Id" class="btn " style="background-color: #232f3e; color: #eaeded;">@localizer["Edit"]</a>
                                            <a asp-action="Delete" asp-route-id="@category.Id" class="btn " style="background-color: #232f3e; color: #eaeded;">@localizer["Delete"]</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>@localizer["No categories found"].</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8">
            <a asp-action="Create" class="btn " style="background-color: #232f3e; color: white;">@localizer["Create"]</a>
        </div>
    </div>
</div>