﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Items";
}
@model ResultDataList<ItemViewModel>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Item/Index.css" />
</head>
<body>
    <div class="container">
        <form method="Get" asp-action="Create">
            <button type="submit">Create Item</button>
        </form>
        <div class="Allitems">
            @foreach (var r in Model.Entities)
            {
                <div class="item">
                    <img src="~/ItemImages/@r.ItemImagestring" alt="@r.ItemImagestring" asp-append-version="true">
                    <pre>Product Name :
 @r.ProductName</pre>
                    <p>ProductId :@r.ProductId</p>
                    <p>Color : @r.Color</p>
                    <p>Quantity : @r.Quantity</p>
                    <p>Size : @r.Size</p>
                    <a asp-controller="Item" asp-action="Update" asp-route-id="@r.Id">Edit</a>
                    <a asp-controller="Item" asp-action="Delete" asp-route-id="@r.Id">Delete</a>
                </div>
            }
        </div>
    </div>
</body>
</html>