﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Items";
}
@model ResultDataList<ItemViewModel>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Item/Index.css" />
</head>
<body>
    <div class="container col-md-12 col-sm-12">
        <form method="Get" asp-action="Create">
            <button type="submit">Create Item</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">ProductId</th>
                    <th scope="col">Color</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Size</th>
                    <th scope="col">Edit</th>
                    <th scope="col">delete</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var r in Model.Entities)
                {
                    <tr>
                        <td><img src="~/ItemImages/@r.ItemImagestring" alt="@r.ItemImagestring" asp-append-version="true"></td>
                        <td>@r.ProductName</td>
                        <td>@r.ProductId</td>
                        <td>@r.Color</td>
                        <td> @r.Quantity</td>
                        <td>@r.Size</td>
                        <td class="link"> <a asp-controller="Item" asp-action="Update" asp-route-id="@r.Id">Edit</a></td>
                        <td class="link"><a asp-controller="Item" asp-action="Delete" asp-route-id="@r.Id">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>