@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model ItemViewModel
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Product Name</label>
            <input type="text" class="form-control" asp-for="ProductName" value="@Model.ProductName">
        </div>

        <div class="mb-3" hidden>
            <label class="form-label">Product ID</label>
            <input type="text" class="form-control" name="ProductId" value="@Model.ProductId">
        </div>
        <div class="mb-3" hidden>
            <label class="form-label">Item ID</label>
            <input type="text" class="form-control" asp-for="@Model.Id" value="@Model.Id">
        </div>
        <div class="mb-3">
            <label class="form-label">Item Quantity</label>
            <input type="text" class="form-control" asp-for="Quantity" value="@Model.Quantity">
        </div>
        <div class="mb-3">
            <label class="form-label">Item Size</label>
            <input type="text" class="form-control" asp-for="Size" value="@Model.Size">
        </div>
        <div class="mb-3">
            <label class="form-label">Item Image</label>
            <input type="file" class="form-control" name="ItemImage" asp-for="ItemImage">
            <input type="hidden" asp-for="ItemImagestring" />
            <img src="~/ItemImages/@Model.ItemImagestring" alt="@Model.ItemImagestring" />
        </div>
        <div class="mb-3">
            <label class="form-label">Item Color</label>
            <input type="text" class="form-control" asp-for="Color" value="@Model.Color">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>